<div class="nested-fields well well-compact">
  <table>
    <tr>
    <div class="form-group">
      <td><%= attachment_image_tag @material, :image, fallback: "no_image.jpg", id: "file-preview" %>
              <%= f.attachment_field :image, class: "btn  item_attachment_field", id: "image_select"%>
              <label for="image_select" class="btn item_attachment_field" style="display: block;">画像選択</label></td>
      <td><%= f.text_field :name,class: 'form-control' %></td>
      <td><%= f.text_field :quantity, class: 'form-control' %></td>
      <td><%= f.text_field :maker, class: 'form-control' %></td>
      <td><%= link_to_remove_association "remove", f, data: {:confirm => 'do you really want to do this?'}, class: 'btn btn-default btn-xs' %></td>
    </div>
  </tr>
</table>

  <div class="items">
    <%#= f.fields_for :items do |item| %>
      <%#= render 'item_fields', f: item %>
    <%#end%>
    <div class="links">
      <%#= link_to_add_association "add item", f, :items %>
    </div>
  </div>
</div>

<!-- 画像選択した際に、選択した画像を表示させるjavascript -->
<script>
  document.getElementById('image_select').addEventListener('change', function (e) {
    // 1枚だけ表示する
    var file = e.target.files[0];

    // ファイルのブラウザ上でのURLを取得する
    var blobUrl = window.URL.createObjectURL(file);

    // img要素に表示
    var img = document.getElementById('file-preview');
    img.src = blobUrl;
});
</script>