<div class="row ">
	<div class="col-xs-12">
		<%= render 'category', categories: @category_list %>
		<div class="col-xs-8">
			カテゴリー：
			<%= @parent_category.name %> 　＞
				<% @parent_category.category.each do |sub_category| %>
				<span><%= link_to category_index_recipe_path(sub_category) do  %>
					<%= sub_category.name %></span>
				<% end %>
				<span>/</span>
			<% end %>
			<article class="recipes_index">
				<div class="row recipes_index_contents">
				<h2><strong><%= @parent_category.name %></strong>の全カテゴリーレシピ一覧</h2>
					<%= render 'recipes_index', recipes: @recipes %>
				</div>
			</article>
		</div>
	</div>
</div>