<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
			<!-- エラーメッセージ -->
			<%= render 'layouts/error', array: @recipe %>
			<!-- エラーメッセージ -->
		<%= form_for(@recipe, url:recipe_path) do |f| %>
		<div class="recipe_new">
			<div class="row recipe_new_margin">
				<div class="col-xs-5">
					<h3>公開・非公開</h3>
						<h4 align="center"><%= f.radio_button :is_closed, :true, checked: true %> 非公開　　　　<%= f.radio_button :is_closed, :false %> 公開
						</h4>
					<h3>画像</h3>
					<%= attachment_image_tag @recipe, :image,:fill,300,200,fallback: "no_image.jpg", size:'300x200', id: "file-preview" %>
						<%= f.attachment_field :image, class: "btn  item_attachment_field", id: "image_select"%>
						<label for="image_select" class="btn btn-blue item_attachment_field" style="display: block;">画像選択</label>
				</div>
				<div class="col-xs-7">
					<h3>レシピタイトル</h3>
					<%= f.text_field :title, placeholder: "タイトル(必須)", class: "form-control" %>
					<h3>カテゴリー</h3>
					 <%= f.grouped_collection_select(:category_id, ParentCategory.all, :category, :name, :id, :name,{include_blank: '選択してください(必須)'},class: 'form-control')%>
					<h3>概要</h3>
						<%= f.text_area :outline, placeholder: "レシピの紹介文(必須)", rows:'5', class: "form-control" %>
				</div>
			</div>
		</div>
		<div class="action" align="center">
			<%= f.submit "　　レシピの変更を保存する　　" ,class: "btn btn-blue btn-lg" %>
		</div>
		<% end %>
		<div class="recipe_new">
			<div class="row recipe_new_margin">
				<h3>レシピ材料</h3>
				<table class="table">
					<thead>
						<tr>
							<th class="col-xs-2">画像</th>
							<th class="col-xs-3">材料名</th>
							<th class="col-xs-2">数量</th>
							<th class="col-xs-3">メーカー（任意）</th>
							<th colspan="2"></th>
						</tr>
					</thead>
					<tbody>
						<% @materials.each do |material| %>
						<tr>
							<td><%= attachment_image_tag material, :image, format: "jpeg" , fallback: "no_image.jpg", id: "material-image" %></td>
							<td><%= material.name %></td>
							<td><%= material.quantity %></td>
							<td><%= material.maker %></td>
							<td><%= link_to '編集' ,edit_recipe_material_path(@recipe.id, material) %></td>
							<td><%= link_to '削除', recipe_material_path(@recipe.id, material),method: :delete, data: {confirm: "削除してよろしいですか？"} %></td>
						</tr>
						<% end %>
					</tbody>
				</table>
				<div align="center">
					<%= link_to '材料の新規追加',new_recipe_material_path(@recipe), method: :get, data: { confirm:  'レシピの概要の変更を保存しないまま移動をすると入力データが消えてしまいます。移動してもよろしいですか？' },class: "btn btn-blue btn-lg" %>
				</div>
			</div>
		</div>
		<div class="recipe_new">
			<div class="row recipe_new_margin">
			<h3>レシピ手順</h3>
				<table class="table">
					<thead>
						<tr>
							<th class="col-xs-1"></th>
							<th class="col-xs-2">画像</th>
					        <th class="col-xs-7">手順説明</th>
					        <th></th>
					    </tr>
					</thead>
					<% @procedures.each.with_index(1) do |procedure, idx| %>
					<tbody>
						<tr>
							<td><%= idx %></td>
							<td><%= attachment_image_tag procedure, :image, format: "jpeg" , fallback: "no_image.jpg", id: "procedure-image" %></td>
							<td><%= procedure.explanation %></td>
							<td><%= link_to '編集' ,edit_recipe_procedure_path(@recipe.id, procedure) %></td>
							<td><%= link_to '削除', recipe_procedure_path(@recipe.id, procedure),method: :delete, data: {confirm: "削除してよろしいですか？"} %></td>
						</tr>
					</tbody>
					<% end %>
				</table>
				<div align="center">
					<%= link_to '手順の新規追加',new_recipe_procedure_path(@recipe), method: :get, data: { confirm: 'レシピの概要の変更を保存しないまま移動をすると入力データが消えてしまいます。移動してもよろしいですか？' },class: "btn btn-blue btn-lg"%>
				</div>
			</div>
		</div>
		<div align="right">
				<%= link_to 'このレシピを削除する', recipe_path(@recipe),method: :delete, data: { confirm: 'レシピを削除してもよろしいですか？（材料、手順すべてのデータが削除されます。）' }, class: "btn btn-red"%>
		</div>
	</div>
</div>


<!-- 画像選択した際に、選択した画像を表示させるjavascript -->
<script>
	document.getElementById('image_select').addEventListener('change', function (e) {
    // 1枚だけ表示する
    var file = e.target.files[0];

    // ファイルのブラウザ上でのURLを取得する
    var blobUrl = window.URL.createObjectURL(file);

    // img要素に表示
    var img = document.getElementById('file-preview');
    img.src = blobUrl;
});
</script>