<div class="conteiner">
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1">
			<h2>新規レシピ登録</h2>
			<!-- エラーメッセージ -->
			<% if @recipe.errors.any? %>
			    <div id="error_explanation" class="alert alert-danger">
			    	<ul>
				        <% @recipe.errors.full_messages.each do |message| %>
				            <li><%= message %></li>
				        <% end %>
			    	</ul>
			    </div>
			<% end %>
			<!-- エラーメッセージ -->
			<%= form_for(@recipe) do |f| %>
			<div class="row">
				<div class="col-xs-3">
					<h3>画像</h3>
						<%= attachment_image_tag @recipe, :image, fallback: "no_image.jpg", id: "file-preview" %>
						<%= f.attachment_field :image, class: "btn  item_attachment_field", id: "image_select"%>
						<label for="image_select" class="btn item_attachment_field" style="display: block;">画像選択</label>
				</div>
				<div class="col-xs-9">
					<h3>カテゴリー</h3>
						 <%#= collection_select :category, :id, @category, :id, :name, {}, class: 'form-control' %>
					<h3>タイトル</h3>
						<%= f.text_field :title, class: "form-control" %>
					<h3>概要</h3>
						<%= f.text_field :outline, class: "form-control" %>
						<%= f.hidden_field :is_closed, :value => false %>
				</div>
				<div class="action">
					<%= f.submit "材料・手順の入力に進む" ,class: "btn btn-lg" %>
				</div>
			</div>
			<% end %>
		</div>
	</div>
</div>

<!-- 画像選択した際に、選択した画像を表示させるjavascript -->
<script>
	document.getElementById('image_select').addEventListener('change', function (e) {
    // 1枚だけ表示する
    var file = e.target.files[0];

    // ファイルのブラウザ上でのURLを取得する
    var blobUrl = window.URL.createObjectURL(file);

    // img要素に表示
    var img = document.getElementById('file-preview');
    img.src = blobUrl;
});
</script>
