<div class="row">
	<table class="table">
		<thead>
			<tr><th>ユーザー情報</th></tr>
		</thead>
		<tbody>
			<tr>
				<td colspan="2" align="center"><%= attachment_image_tag user, :image, :fill,200,200, format: 'jpeg', class: "profile-thumb", fallback: "no_image.jpg", size:'200x200' %>
					<%= render 'relationships/follow_btn', user: @user %>
				</td>
			</tr>
			<tr>
				<th>ニックネーム</th>
			</tr>
			<tr>
				<td class="name" align="center"><%= link_to user_path(user) do %><strong>
					<%= user.name %></strong><% end %></td>
			</tr>
			<tr>
				<th>自己紹介</th>
			</tr>
			<tr>
				<td colspan="2"><%= user.introduction %></td>
			</tr>
			<tr>
		<% if current_page?(root_path) %>
			<td class="home_btn"><%= link_to "いいねしたレシピ一覧", favorite_user_path(user),class: "btn btn-blue btn-block" %></td>
			<td class="home_btn"><%= link_to "ユーザのレシピ一覧", recipe_indedx_user_path(user),class: "btn btn-blue btn-block" %></td>
		<% elsif current_page?(controller: 'users', action: 'recipes') %>
			<td class="home_btn"><%= link_to "いいねしたレシピ一覧", favorite_user_path(user),class: "btn btn-blue btn-block" %></td>
		<% elsif current_page?(controller: 'favorites', action: 'favorite') %>
			<td class="home_btn"><%= link_to "ユーザのレシピ一覧", recipe_indedx_user_path(user),class: "btn btn-blue btn-block" %></td>
		<% end %>
			</tr>
		</tbody>
	</table>
</div>
