<div class="conteiner">
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1">
			<div class="col-xs-8">
				<div class="row">
					<div class="col-xs-4">
						<div><%= render 'relationships/follow_btn', user: @user %></div>
						<div class="row profile_image">
							<%= attachment_image_tag @user, :image, :fill, 200, 200, format: 'jpeg', class: "profile-thumb", fallback: "no_image.jpg", size:'200x200' %>
						</div>
					</div>
					<div class="col-xs-8 user_profile">
						<table class="table">
							<thead>
								<tr><th colspan="3">ユーザー情報</th></tr>
							</thead>
							<tbody>
								<tr>
									<th colspan="3">ニックネーム</th>
								</tr>
								<tr>
									<td colspan="3" align="center"><strong><%= @user.name %></strong></td>
								</tr>
								<tr>
									<th colspan="3">自己紹介</th>
								</tr>
								<tr>
									<td colspan="3"><%= @user.introduction %></td>
								</tr>
								<tr>
									<th>フォロー</th>
									<td><%= @user.follower.count%></td>
									<td><%= link_to "フォローの一覧",  user_follows_path(@user),class: "btn btn-blue" %></td>
								</tr>
								<tr>
									<th>フォロワー</th>
									<td><%= @user.followed.count %></td>
									<td><%= link_to "フォロワーの一覧",  user_followers_path(@user),class: "btn btn-blue" %></td>
								</tr>
								<tr>
									<th>投稿したレシピ数</th>
									<td><%= @recipes.count %></td>
									<td><%= link_to "投稿レシピ一覧へ", recipe_indedx_user_path(@user),class: "btn btn-blue" %></td>
								</tr>
								<tr>
									<th>いいねしたレシピ数</th>
									<td><%= @user.favorites.count %></td>
									<td>
									<%= link_to "いいねしたレシピ一覧へ", favorite_user_path(@user),class: "btn btn-blue" %></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="ro user_edit_btn">
						<% if current_user == @user %>
							<%= link_to "編集する", edit_user_path(@user),class: "btn btn-primary btn-lg" %>
						<% end %>
					</div>
					<div>
						<%= link_to '戻る', 'javascript:history.back()',class: "btn btn-blue" %>
					</div>
				</div>
			</div>
			<div class="col-xs-4">
				<h2>
					<% if current_user != @user %>
						<%= @user.name %>の投稿レシピ
					<% else %>
						あなたの投稿レシピ
					<% end %>
				</h2>
				<table class="table">
					<% @recipes.first(4).each do |recipe| %>
					<tbody>
						<tr>
							<td>
								<%= link_to (recipe) do %>
								<%= attachment_image_tag recipe, :image, :fill, 200, 150,format: "jpeg" , fallback: "no_image.jpg", size:'200x150' %><br>
								<% end %>
								<%= link_to recipe.title, recipe_path(recipe), class: "recipe_link" %>
								<%= recipe.if_is_closed %>
							</td>
						</tr>
					</tbody>
					<% end %>
				</table>
					<% if @recipes.present? %>
						<p><%= link_to ">>ユーザのレシピをもっと見る", recipe_indedx_user_path(@user) %></p>
					<% else %>
						<p>ユーザーの投稿レシピはありません</p>
					<% end %>
			</div>
		</div>
	</div>
</div>