<div class="col-xs-10 col-xs-offset-1">
	<%= form_for [@recipe, @material] do |f| %>
	<div class="row material_new">
		<div class="material_new_margin">
			<h2>材料変更</h2>
			<!-- エラーメッセージ -->
			<%= render 'layouts/error', array: @material %>
			<!-- エラーメッセージ -->
			<table class="table">
				<thead>
					<tr>
						<th class="col-xs-3">画像</th>
				        <th class="col-xs-4">名称</th>
				        <th class="col-xs-2">数量</th>
				        <th class="col-xs-3">メーカー</th>
				        <th></th>
			    	</tr>
				</thead>
				<tbody>
				    <tr>
				    	<td><%= attachment_image_tag @material, :image,:fill,200,150, fallback: "no_image.jpg", size:'200x150', id: "file-preview" %>
						<%= f.attachment_field :image, class: "btn  item_attachment_field", id: "image_select"%>
						<label for="image_select" class="btn btn-blue item_attachment_field" style="display: block;">画像選択</label></td>
				        <td><%= f.text_field :name, class: 'form-control' %></td>
				        <td><%= f.text_field :quantity, class: 'form-control' %></td>
				        <td><%= f.text_field :maker, class: 'form-control' %></td>
				    </tr>
				</tbody>
			</table>
		</div>
	</div>
	<div align="center">
		<%= f.submit "材料を変更" ,class: "btn btn-blue btn-lg" %>
		</div>
    <% end %>
</div>
<!-- 画像選択した際に、選択した画像を表示させるjavascript -->
<script>
	document.getElementById('image_select').addEventListener('change', function (e) {
    // 1枚だけ表示する
    var file = e.target.files[0];

    // ファイルのブラウザ上でのURLを取得する
    var blobUrl = window.URL.createObjectURL(file);

    // img要素に表示
    var img = document.getElementById('file-preview');
    img.src = blobUrl;
});
</script>