<!DOCTYPE html>
<html>
  <head>
    <title>Found_It!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top" style="background-color: #fafae1;">

    <% if user_signed_in? %>

      <div class="container-fluid">
        <div class="row-header-text">
          <ul class="nav nav-pills navbar-left col-xs-10 col-xs-offset-1">
            <li><%= link_to image_tag('logo2.png', class: 'headerlogo'),root_path %></li>
            <li>
            <div class="navbar-form navbar-left" role="search">
              <%= search_form_for @q, url: recipes_path,html: { method: :get } do |f| %>
              <div class="form-group">
                <%= f.text_field :title_or_outline_cont, placeholder: 'キーワードで検索', class: "form-control" %>
                <%= f.submit "検索",class: "btn btn-primary" %>
              </div>
              <% end %>
            </div>
            </li>
            <li class="user_mypage">
              <%= link_to user_path(current_user) do %>
              <%= attachment_image_tag @header_icon_user, :image, :fill, 25, 25, format: 'jpeg', class: "profile-thumb", fallback: "no_image.jpg", size:'25x25' %>
                <strong>　<%= current_user.name %></strong><% end %>
            </li>
            <li class="topmenu"><%= link_to 'レシピを投稿', new_recipe_path %></li>
            <li class="topmenu"><%= link_to 'ABOUT', homes_about_path %></li>
            <li class="topmenu"><%= link_to 'レシピ一覧', recipes_path %></li>
            <li class="topmenu"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete%></li>
          </ul>
        </div>
      </div>

        <% else %>

      <div class="container-fluid">
        <div class="row-header-text">
          <ul class="nav nav-pills navbar-left col-xs-10 col-xs-offset-1">
            <li><%= link_to image_tag('logo2.png', class: 'headerlogo'),root_path %></li>
            <li>
            <div class="navbar-form navbar-left" role="search">
              <%= search_form_for @q, url: recipes_path,html: { method: :get } do |f| %>
              <div class="form-group">
                <%= f.text_field :title_or_outline_cont, placeholder: 'キーワードで検索', class: "form-control" %>
                <%= f.submit "検索",class: "btn btn-primary" %>
              </div>
              <% end %>
            </div>
            </li>
            <li class="topmenu"><%= link_to 'ABOUT', homes_about_path %></li>
            <li class="topmenu"><%= link_to 'レシピ一覧', recipes_path %></li>
            <li class="topmenu"><%= link_to '新規登録',new_user_registration_path %></li>
            <li class="topmenu"><%= link_to 'ログイン', new_user_session_path %></li>
          </ul>
        </div>
      </div>

      <% end %>
    </nav>
        <!--ヘッダーの記述-->
    <div class="contents">
      <%= yield %>
    </div>
 <!--フッターの記述-->
    <footer  style="background-color: #fafae1;">
      <div class="container">
        <div class="row">
            <div class="footer-contents">
              <p class="footer-contents-p">Found  it!</p>
            </div>
        </div>
      </div>
    </footer>
    <!-- フッターの記述 -->
  </body>
</html>