<!DOCTYPE html>
<html>
  <head>
    <title>Found_It!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <!-- header -->
    <header class="navbar navbar-fixed-top" style="background-color: #fafae1;">

    <% if user_signed_in? %>
    <!-- ログイン中のヘッダー -->
      <div class="container">
          <nav class="nav navbar-nav navbar-left">
            <span class="nav navbar-nav"><%= link_to image_tag('logo2.png', class: 'headerlogo'),root_path %></span>
            <span class="navbar-form navbar-nav form" role="search">
              <%= search_form_for @q, url: recipes_path,html: { method: :get } do |f| %>
                <%= f.text_field :title_or_outline_cont, placeholder: 'キーワードで検索', class: "form-control" %>
                <%= f.submit "検索",class: "btn btn-blue" %>
              <% end %>
            </span>
            <span id="new_btn">
                <%= link_to new_recipe_path do %>
                   <button type="button" class="btn btn-blue btn-circle">＋</button>
                <% end %>
            </span>
          </nav>
          <nav class="nav navbar-nav navbar-right">
            <ul class="nav navbar-nav">
              <li class="topmenu">
                <%= link_to user_path(current_user) do %>
                <%= attachment_image_tag @header_icon_user, :image, :fill,25,25, format: 'jpeg', class: "profile-thumb", fallback: "no_image.jpg", size:'25x25' %>
                  <strong>　<%= current_user.name %></strong><% end %>
              </li>
              <li class="topmenu"><%= link_to 'レシピ一覧', recipes_path %></li>
              <li class="topmenu"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete%></li>
            </ul>
        </nav>
      </div>

        <% else %>
    <!-- 未ログインのヘッダー -->
      <div class="container">
        <nav class="nav navbar-nav navbar-left">
          <span class="nav navbar-nav"><%= link_to image_tag('logo2.png', class: 'headerlogo'),root_path %></span>
          <span class="navbar-form navbar-nav" role="search">
            <%= search_form_for @q, url: recipes_path,html: { method: :get } do |f| %>
              <%= f.text_field :title_or_outline_cont, placeholder: 'キーワードで検索', class: "form-control" %>
              <%= f.submit "検索",class: "btn btn-blue" %>
            <% end %>
          </span>
        </nav>
        <nav class="nav navbar-nav navbar-right">
          <ul class="nav navbar-nav">
            <li class="topmenu"><%= link_to 'ABOUT', homes_about_path %></li>
            <li class="topmenu"><%= link_to 'レシピ一覧', recipes_path %></li>
            <li class="topmenu"><%= link_to '新規登録',new_user_registration_path %></li>
            <li class="topmenu"><%= link_to 'ログイン', new_user_session_path %></li>
          </ul>
        </nav>
      </div>

      <% end %>
    </header>
  <!--ヘッダーの記述-->
  <!-- body -->
    <div class="contents">
      <%= yield %>
    </div>
  <!-- body -->
 <!--フッターの記述-->
    <footer style="background-color: #fafae1;">
      <div class="container col-xs-10 col-xs-offset-1">
        <div class="row">
          <span class="footer-contents"><%= link_to 'About 「Found It!」',homes_about_path %>
          </span>
        </div>
      </div>
    </footer>
  <!-- フッターの記述 -->
  </body>
</html>